.tabela{
    border: solid black 1px;
    border-collapse: collapse;
    text-align: center;
}

.linha{
    border: solid black 1px;
    cursor: pointer;
}

.linha:hover{
    background-color: rgb(198, 197, 197);
}

td, th{
    border: solid black 1px;
}